* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  box-sizing: content-box;
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.square, .food {
  height: calc(50vw / 10);
  width: calc(50vw / 10);
  border: 1px solid white;
}

.food